@media (min-width: 1023px) {
  .footer {
    min-width: 320px;
    --footer-background: rgb(245, 245, 247);
    --footer-border-color: rgba(0, 0, 0, 0.16);
    --footer-text-color: rgba(0, 0, 0, 0.56);
    --footer-link-color: rgba(0, 0, 0, 0.72);
    --footer-pipe-color: rgba(0, 0, 0, 0.48);
    --footer-directory-title-color: rgba(0, 0, 0, 0.88);
    --footer-directory-title-color-hover: #000;
    --footer-directory-title-focus-offset: 4px;
    --footer-section-border-color: var(--footer-border-color);
    --footer-pipe-border: 1px solid var(--footer-pipe-color);
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons',
      'Apple Legacy Chevron', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background: var(--footer-background);
    color: var(--footer-text-color);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .footer__content {
    padding-inline-start: max(16px, env(safe-area-inset-left));
    padding-inline-end: max(16px, env(safe-area-inset-right));
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
  }
  .footer__footnotes {
    padding: 17px 0 11px;
    display: block;
  }
  .footer__footer-legal {
    position: relative;
    top: -3px;
    z-index: 1;
    display: block;
  }
  .footer__ac-gf-footer {
    border-top: none;
    padding: 17px 0 11px;
    padding-bottom: max(11px, env(safe-area-inset-bottom));
    padding-top: 37px;
    display: block;
  }
  .footer__footer-shop {
    margin-bottom: 17px;
    padding-bottom: 18px;
    border-bottom: none;
    display: block;
    border-bottom: 1px solid var(--footer-section-border-color);
  }
  .footer__footer-shop a {
    max-height: 9999px;
    color: rgb(0, 102, 204);
  }
  .footer__footer-locale {
    float: right;
    margin-top: 5px;
    position: relative;
    top: -3px;
    z-index: 2;
    white-space: nowrap;
    display: block;
  }
  .footer__footer-locale-link {
    margin-inline-start: 0;
    padding-inline-start: 0;
    float: none;
    display: inline-block;
    text-decoration: none;
  }
  .footer__footer-legal-copyright {
    float: left;
    max-height: 9999px;
    margin-inline-end: 30px;
    margin-top: 5px;
    list-style-type: none;
    display: block;
  }
  .footer__footer-legal-links {
    float: left;
    position: relative;
    top: -5px;
    margin-inline-start: 0;
    z-index: 1;
    margin-inline-end: 0;
    margin-top: 6px;
  }
  .footer__footer-legal-links-item {
    float: none;
    margin-top: 4px;
    position: relative;
    margin-inline-end: 6px;
    display: inline-block;
    color: var(--footer-link-color);
  }
  .footer__footer-legal-links-item::before {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-end: 9px;
    bottom: 0;
    inset-inline-start: 0;
    pointer-events: none;
  }
  .footer__footer-legal-links-item::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: var(--footer-pipe-color);
    margin: 3px 0;
  }
  .footer__footer-legal-link {
    padding-inline-end: 9px;
    white-space: nowrap;
    text-decoration: none;
  }
  .footer__footer-legal-link:hover {
    text-decoration: underline;
  }
}
@media (min-width: 1069px) {
  .header {
    height: 44px;
  }
  .main {
    --content-height: 570px;
    margin: 0 auto;
    --gutter-width: 12px;
    --gutter-color: #fff;
  }
  .main__grid {
    display: grid;
    border-bottom: var(--gutter-width) solid var(--gutter-color);
  }
  .main__content-video {
    height: max(
      min(
        80vh - var(--global-nav-collective-height) - var(--ribbon-height),
        1050px
      ),
      800px
    );
  }
  .main__content {
    height: var(--content-height);
  }
  .main__content-grid {
    --content-height: 580px;
    --columns: 2;
    --gutter-width: 12px;
    --gutter-half-width: 6px;
    --gutter-and-half-width: 18px;
    --gutter-color: #fff;
    --double-edge-border-width: 24px;
    --safe-area-inset-lt: env(safe-area-inset-left);
    --safe-area-inset-rt: env(safe-area-inset-right);
    --edge-border-width: 12px;
    --background-color: #f5f5f7;
    --text-color: #1d1d1f;
    --edge-border-width-fallback: 12px;
    display: grid;
    background-color: var(--gutter-color);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gutter-width);
    width: calc(
      100% - var(--double-edge-border-width) - var(--safe-area-inset-lt) -
        var(--safe-area-inset-rt)
    );
    position: relative;
    left: calc(var(--edge-border-width) + var(--safe-area-inset-lt));
    border-bottom: var(--gutter-width) solid var(--gutter-color);
  }
  .main__content-grid__content {
    height: var(--content-height);
  }
  .main__unit-copy-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 53px;
    position: relative;
    flex-grow: 0;
    z-index: 4;
  }
  .main__unit-copy-wrapper-top {
    justify-content: space-between;
    padding-bottom: 37px;
  }
  .main__unit-wrapper-video {
    height: max(
      min(
        80vh - var(--global-nav-collective-height) - var(--ribbon-height),
        1050px
      ),
      800px
    );
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: #f5f5f7;
  }
  .main__unit-wrapper {
    height: var(--content-height);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: #f5f5f7;
  }
  .main__unit-wrapper__height-video {
    height: max(
      min(
        80vh - var(--global-nav-collective-height) - var(--ribbon-height),
        1050px
      ),
      800px
    );
  }
  .main__unit-wrapper-top {
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }
  .main__bottom-copy-wrapper {
    justify-content: flex-end;
    padding-bottom: 37px;
  }
  .main__unit-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .main__unit-image {
    z-index: 1;
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    left: calc(50% + 0px);
    right: auto;
    bottom: 0px;
    top: auto;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
  }
  .main__unit-image-ipad-pro {
    width: 3008px;
    height: 580px;
    background-size: 3008px 580px;
    background-repeat: no-repeat;
    background-image: var(--image-ipad-pro-large);
  }
  .main__unit-image-iphone-family {
    width: 3008px;
    height: 580px;
    background-size: 3008px 580px;
    background-repeat: no-repeat;
    background-image: var(--image-iphone-family-large);
  }
  .main__unit-image-mac {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: var(--image-mac-large);
  }
  .main__unit-image-vision-pro {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: var(--image-vision-pro-large);
  }
  .main__unit-image-apple-intelligence {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: var(--image-apple-intelligence-large);
  }
  .main__unit-image-anime-promo {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: var(--image-anime-promo-large);
  }
  .main__unit-image-apple-card {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: var(--image-apple-card-large);
  }
  .main__unit-image-apple-trade {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: var(--image-apple-trade-large);
  }
  .main__cta {
    width: 88%;
    max-width: 430px;
  }
  .main__logo-img {
    margin: 0 auto;
    height: 27px;
    background-size: 157px 27px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__logo-img-vision-pro {
    height: 34px;
    background-size: 198px 34px;
    background-repeat: no-repeat;
    background-image: var(--logo-img-vision-pro-large);
  }
  .main__logo-img-apple-intelligence {
    height: 39px;
    background-size: 307px 39px;
    background-repeat: no-repeat;
    background-image: var(--logo-img-apple-intelligence-large);
  }
  .main__logo-img-apple-card {
    height: 33px;
    background-size: 108px 33px;
    background-repeat: no-repeat;
    background-image: var(--logo-img-apple-card-large);
  }
  .main__logo-img-apple-trade {
    height: 32px;
    background-size: 155px 32px;
    background-repeat: no-repeat;
    background-image: var(--logo-img-apple-trade-large);
  }
  .main__logo-video-vision-pro {
    background-image: var(--logo-video-vision-pro-small);
    height: 46px;
    background-size: 232px 46px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__thems-headline {
    color: #1d1d1f;
    max-width: 330px;
  }
  .main__cta-buttons {
    text-align: center;
    margin-top: 18px;
  }
  .main__headline {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  }
  .main__subheadline {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 400;
    letter-spacing: 0.011em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  }
  .main__headline-tablet {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -0.005em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  }
  .main__subheadline-tablet {
    max-width: 500px;
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: 0.007em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    margin-top: 6px;
  }
  .main__subheadline-tablet__max-width-tablet {
    max-width: 100%;
  }
  .main__thems-subheadline {
    color: #1d1d1f;
    margin-top: 10px;
    max-width: 320px;
  }
  .main__thems-subheadline__max-width {
    max-width: 100%;
  }
  .main__callout {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    color: #6e6e73;
    text-align: center;
    margin-top: 12px;
  }
  .main__button {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -0.016em;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    --sk-button-margin-horizontal: 14px;
    --sk-button-margin-vertical: 14px;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 1.75rem;
  }
  .main__button-primary {
    background: #0071e3;
    color: #fff;
    border-color: rgba(0, 0, 0, 0);
  }
  .main__button-primary-light {
    background: #f5f5f7 !important;
    color: #000 !important;
  }
  .main__button-tertiary {
    margin-left: 13px;
    padding: 7px 20px;
    background: rgba(0, 0, 0, 0);
    color: #2997ff;
    border: #2997ff solid 1px;
  }
  .main__button-tertiary:hover {
    background: #2997ff;
    color: #fff;
    border-color: #2997ff;
  }
  .main__button-tertiary-light {
    border-color: #f5f5f7 !important;
    background: transparent !important;
    color: #f5f5f7 !important;
  }
  .main__button-tertiary-light:hover {
    background: #f5f5f7 !important;
    color: #000 !important;
    border-color: #f5f5f7 !important;
  }
  .main__button-elevated {
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    --sk-button-margin-horizontal: 18px;
    --sk-button-margin-vertical: 18px;
  }
}
