.padding-left {
    padding-left: 0.5rem;
    font-size: 20px !important;

}

@media (min-width: 851px) {
    .header-left{
        display: none;
    }
    .header-right{
        display: none;
    }
    .header-container {
        display: block;
    }
    .header-nav {
        cursor: default;
            margin: 0 -8px;
            width: auto;
            height: 44px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    }

    .container-video {
        height: 45rem;
        width: 100%;
        display: flex;
    }

    .headline-font {
        font-size: 55px;
    }

    .bottom-3 {
        bottom: -150px;
        ;
    }

    .header {
        justify-content: center;
        align-items: center;


    }


    .header-left {
        flex: 0;
        font-size: 20px !important;
    }

    .header-right {
        flex: 0;
    }

    .display-none-laptop {
        display: none;
    }

    .container-image {
        width: 100%;
    }

    .container-div {
        display: flex;
        gap: 0.5rem;
    }

    .laptop-disply-none {
        display: none;
    }

    .laptop-disply-block {
        display: block;
    }



}