* {
    box-sizing: border-box;
    margin: 0;
    
}


.icon {
    color: rgba(0, 0, 0, 0.758);
    list-style-type: none;
    margin:0.3rem  0.5rem;
    
}


.header {
 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgba(255, 255, 255, 0.952);
    height: 2.2rem;
    margin-bottom: 2.2rem;
   
}

.header-left {
    flex: 1;
}

.header-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header-nav {
    display: none;
}

main {
    margin-top: 2,2rem;
}

.grid {
    justify-content: center;
    display: grid;
    gap: 0.5rem;
}

.div {
    height: 28rem;
    display: flex;
    justify-content: center;
}

.image-div {
    height: 23.5rem;
    display: flex;
    justify-content: center;
    font-size: small;
}


.media {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}




.vision-pro-text {
    font-size: small;
    position: absolute;
    text-align: center;
    color: white;
    justify-content: center;
    flex-direction: column;
    margin-top: 19rem;
}

.my-text {
    position: absolute;
    text-align: center;
    color: white;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;

}

.my-button {
    justify-content: center;
    color: white;
    margin-top: 1rem;
    font-size: 12px;

}

.my-button button {
    justify-content: center;
    height: 1.6rem;
    width: 7rem;
    background-color: black;
    color: rgba(0, 145, 255, 0.991);
    border: none;
    border-radius: 4rem;
    border: 1px solid rgba(0, 85, 255, 0.991);

}

.button-width button {
    width: 8rem;
}

.my-button button:hover {
    background-color: blue;
    color: white;
    text-align: center;
}

.container-div div {
    margin-bottom: 0.5rem;
}

.text-align-cen {
    text-align: center;
}

.justify-content-cen {
    justify-content: center;
}

.color-white {
    color: #f3faf4;
}

.font-sz-xs {
    font-size: x-small;
}

.red-color {
    color: red;

}

.font-sz-s {
    font-size: small;
}

.button-blue {
    background-color: rgba(0, 115, 255, 0.936);
    color: #f3faf4;
    border: none;
    border-radius: 3rem;
    padding: 0.3rem;
    text-align: center;
    font-size: small;
}

.button-white {
    background-color: white;
    color: rgb(0, 89, 255);
    border: 1px solid rgba(0, 85, 255, 0.991);
    border-radius: 3rem;
    text-align: center;
    padding: 0.3rem;
    width: 3rem;
    font-size: small;
    width: 5rem;
}

.button-white:hover {
    background-color: rgb(0, 102, 255);
    color: white;
}

.buy {
    background-color: transparent;
    color: #0569ffee;
    border: 1px solid #0569ffee;
    width: 3rem;
    border-radius: 3rem;
    padding: 0.3rem;
}

.buy:hover {
    background-color: rgb(0, 76, 255);
    color: white;
}

.margin-top-1 {
    margin-top: 1rem;
}


.margin-left {
    margin-left: 0.5rem;
}

.margin-left-2 {
    margin-left: 2rem;
}


.position-abs {
    position: absolute;
}



.text-color {
    color: #000;
}





.footer {
    margin-top: 5rem;
}

.footer-div {
    height: 20rem;
    font-size: x-small;
}