@media (min-width: 734px) {

    .container-image {
        width: 100%;
    }

    .container-div {
        display: flex;
        gap: 0.5rem;
    }

    .margin-top-h {
        margin-top: 0;
    }

    .tablet-display-none {
        display: none;
    }

    .display-none {
        display: block;
    }

    .font-sz-auto {
        font-size: large;
    }


}